@charset "UTF-8";

/* common */
.ikea-new-ui-body .wrap {
	width:1060px;
	margin:0 auto;
	box-sizing: border-box;
}
.ikea-new-ui-body .none {
	display: none !important;
}
.ikea-new-ui-body .rel {
	position: relative;
}
.red {
	color:red !important;
}
.alttxt {
	position: absolute;
	top:-9999px; left:-9999px;
	font-size:0;
}
.noBold {
    font-weight: normal;
}
.clearBoth {
	clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* header */
.ikea-new-ui-body .ikea2017-header .top-nav {
	border-bottom: 1px solid #ddd;
	height:45px;
}
.ikea-new-ui-body .ikea2017-header .top-nav .welcome-msg {
	position: absolute;
	top:0; left:50%;
	margin-left:-200px;
	width:500px;	
	text-align: center;	
	color:#535353;
	font-size:13px;	
	line-height: 45px;
}
.ikea-new-ui-body .ikea2017-header .top-nav .welcome-msg a {
	color:#0051ba;
}
.ikea-new-ui-body .ikea2017-header .top-nav a.top-nav-link {
	position: relative;	
	line-height:45px;
	font-size:12px;
	color:#535353;
	padding:0 15px;	
	display: inline-block;	
	vertical-align: top;	
	text-decoration: none;
}
.ikea-new-ui-body .ikea2017-header .top-nav .right-menu a.top-nav-link:last-child {
	background: none;
	padding-right:0;
}
.top-nav .right-menu a.top-nav-link:last-child {
	padding-right:0;
}
.ikea-new-ui-body .ikea2017-header .top-nav .right-menu {
	position: absolute;
	top:0; right:0;
}

/* header middle */
.ikea-new-ui-body .ikea2017-header .logo-search-box {
	height:75px;
}
.ikea-new-ui-body .ikea2017-header .ikea-logo {
	padding-top:18px;
}
.ikea-new-ui-body .ikea2017-header .ikea-logo img {
	height:39px;
}
.ikea-new-ui-body .ikea2017-header .search-container {
	position: absolute;
	top:15px;
	left:180px;
	width:420px;
	box-sizing: border-box;
}
.ikea-new-ui-body .ikea2017-header .search-container .search-txt {	
	box-sizing: border-box;
	display: block;
	width:100%;	
	padding:10px;
	height:45px;	
	font-size:17px;
	border:none;
	border-bottom:1px solid #000;
	outline: none;
}
.ikea-new-ui-body .ikea2017-header .search-container .btn-submit-search {
	position: absolute;
	top:0; right:0;
	width:45px;
	height:45px;		
	border:none;
	background:transparent;	
	opacity:1;	
	cursor: pointer;	
	background-image:url('https://uiux.newideas.kr/api/pc/images/ico-finder.svg');
	background-repeat: no-repeat;
	background-size:auto 22px;
	background-position:right center;	
	transition: opacity .4s;
}
.ikea-new-ui-body .ikea2017-header .search-container .btn-submit-search:hover {
	opacity: 1;
}
.ikea-new-ui-body .ikea2017-header .btn-cart-wrap  {
	position: absolute;
	top:16px; right:0px;	
}
.ikea-new-ui-body .ikea2017-header .btn-cart-wrap a {
	position: relative;
	display: block;	
	width:45px;
	height:45px;	
	opacity: .8;
	background-image:url('https://s3.ap-northeast-2.amazonaws.com/s3ikeacdn/uiux/ico-cart.png');
	background-image:url('https://s3.ap-northeast-2.amazonaws.com/s3ikeacdn/uiux/ico-cart.svg');
	background-repeat: no-repeat;
	background-size:30px auto;
	background-position:right center;	
	cursor: pointer;
}

/* 위시리스트 카운트 */
#my-cart-quantity {
	display: none;
}
.ikea-new-ui-body .ikea2017-header .btn-cart-wrap .cart-count {
	position: absolute;
	top:3px; left:40px;	
	color:#fff;	
	padding:2px 4px;	
	font-size:11px;
	font-weight: bold;	
	background:#222;	
	border-radius:40px;
}

/* 카트 */
.ikea-new-ui-body .ikea2017-header .cart-container {
	position: absolute;
	top:16px; right:55px;
}
.ikea-new-ui-body .ikea2017-header .cart-container .ico-cart {
	position: relative;
	display: block;	
	width:45px;
	height:45px;	
	opacity: .8;
	background-image:url('https://uiux.newideas.kr/api/pc/images/ico-cart2.svg');
	background-image:url('https://uiux.newideas.kr/images/ico-cart3-black.svg');
	background-image:url('https://uiux.newideas.kr/images/ico-cart-2px-black.svg');
	background-image:url('https://uiux.newideas.kr/images/ico-cart-pc4.svg');
	background-image:url('https://s3.ap-northeast-2.amazonaws.com/s3ikeacdn/uiux/ico-shopping-list.png');
	background-image:url('https://s3.ap-northeast-2.amazonaws.com/s3ikeacdn/uiux/ico-shopping-list.svg');
	background-repeat: no-repeat;
	background-size:30px auto;
	background-position:right center;	
	cursor: pointer;
}
.ikea-new-ui-body .ikea2017-header .cart-container .cart-count {
	position: absolute;
	top:3px; left:40px;	
	color:#fff;	
	padding:2px 4px;	
	font-size:11px;
	font-weight: bold;	
	background:#222;	
	border-radius:40px;
}

/* site all nav */
.ikea-new-ui-body .site-nav-container {
	position: relative;	
	background:#0051ba;
	background-image:linear-gradient(top, #1C68CD 0%, #0E57BC 50%, #0852B8 100%);
	background-image:-webkit-linear-gradient(top, #1C68CD 0%, #0852B8 100%);
	background-image:-moz-linear-gradient(top, #1C68CD 0%, #0E57BC 50%, #0852B8 100%);
	background-image:-ms-linear-gradient(top, #1C68CD 0%, #0E57BC 50%, #0852B8 100%);	
	background-image:linear-gradient(top, #1b6acf 0%, #0050bc 100%);
	background-image:-webkit-linear-gradient(top, #1b6acf 0%, #0050bc 100%);
	background-image:-moz-linear-gradient(top, #1b6acf 0%, #0050bc 100%);
	background-image:-ms-linear-gradient(top, #1b6acf 0%, #0050bc 100%);
	border-top:1px solid	rgba(0,0,0,.15);
	border-bottom:1px solid rgba(0,0,0,.15);
}

.ikea-new-ui-body .site-nav-container .site-feature-menu {
	margin-right:94px !important;
	font-size:0;
}

.ikea-new-ui-body .site-nav-container .site-feature-menu > li {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.ikea-new-ui-body .site-nav-container .site-feature-menu a {
	display: block;	
	margin-top:0px;
	height:48px;
	line-height:48px;	
	padding:0 10px;	
	font-size:12px;
	color:#fff;	
	text-shadow: 0 1px 0 rgba(0,0,0,.3);	
	border-top:1px solid rgba(255,255,255,.1);
	border-left:1px solid rgba(255,255,255,.15);	
	box-sizing: border-box;
}

/* 자간 -1px */
html:lang(ko-KR) .ikea-new-ui-body .site-nav-container .site-feature-menu a {
	letter-spacing: -1px;
}
.ikea-new-ui-body .site-nav-container .site-feature-menu a:hover {
	background:rgba(0,0,0,.15);
	text-decoration: none;
}
.ikea-new-ui-body .site-nav-container .site-feature-menu > li.all-products a {
}
.ikea-new-ui-body .site-nav-container .site-feature-menu > li.all-products a.line2 {
	line-height:15px;
	padding:8px 20px;
	padding:8px 9px;
}
.ikea-new-ui-body .site-nav-container .site-feature-menu > li.new-products a {
	color:#F9D932;
	font-weight: bold;
	text-transform: uppercase;
}	
.ikea-new-ui-body .site-nav-container .nav-right-banner-container {
	position: absolute;
	top:-1px; right:0;
	font-size:0;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner {
	display: inline-block;
	vertical-align: top;	
	background-repeat:no-repeat;
	background-position:15px 13px;
	border-top:1px solid	rgba(0,0,0,.2);
	border-bottom:1px solid rgba(0,0,0,.2);	
	height:50px;
	padding: 0 15px 0 15px;	
	font-size:12px;	
	box-sizing: border-box;	
	text-decoration: none;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.showroom {
	position:relative;	
	padding-top:8px;
	background-position: inherit;
	background-image:-webkit-linear-gradient(#4D4D4D 0%, #151515 100%);
	background-image:-moz-linear-gradient(#4D4D4D 0%, #151515 100%);
	background-image:-ms-linear-gradient(#4D4D4D 0%, #151515 100%);
	border-bottom:0;
	text-shadow: none;	
	color: #000;
	color: #fff;	
	display: block;	
	box-sizing: border-box;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.showroom .container {
	position: absolute;
	top:-1px;
	bottom:-1px;
	left: 0px;
	right:0px;		
	border-top:1px solid #555;
	border-bottom:1px solid #000;	
	z-index: 0;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.showroom .txt {
	position: relative;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.showroom:hover {
	background-image:-webkit-linear-gradient(#262626 0%, #141414 100%);
	background-image:-moz-linear-gradient(#262626 0%, #141414 100%);
	background-image:-ms-linear-gradient(#262626 0%, #141414 100%);	
	border-left: 1px solid rgba(255,255,255,.25);
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.idea {
	position: relative;
	padding-left:40px;
	background-image:url('https://uiux.newideas.kr/api/pc/images/ico-idea-blue.svg');	
	background-image:-webkit-linear-gradient(#ffd500 0%, #f4ce0b 100%);
	background-image:-moz-linear-gradient(#ffd500 0%, #f4ce0b 100%);
	background-image:-ms-linear-gradient(#ffd500 0%, #f4ce0b 100%);	
	background-position: left top;	
	line-height: 50px;
	color: #0051ba;
	font-weight: bold;	
	border-top:1px solid #F4CC02;
	border-bottom:1px solid #F4CC02;
	border-left:1px solid #FBED85;
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.idea:hover {
	background-image:-webkit-linear-gradient(#ffd500 0%, #f2b808 100%);
	background-image:-moz-linear-gradient(#ffd500 0%, #f2b808 100%);
	background-image:-ms-linear-gradient(#ffd500 0%, #f2b808 100%);
}
.ikea-new-ui-body .site-nav-container .nav-right-banner.idea::after {
	content:'';
	display: block;
	position: absolute;
	top:13px; left:16px;
	width: 20px;
	height:20px;
	background-image:url('https://s3.ap-northeast-2.amazonaws.com/s3ikeacdn/uiux/ico-idea-blue.svg');
	background-size:auto 20px;
	background-repeat: no-repeat;
}

/* 사이트 푸터 */
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box {
	background: #555;
	padding:25px;
	font-size:0;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box * {
	font-size:12px;
	color:#fff;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box *:visited {
	color:#fff !important;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info {
	margin-bottom: 10px;
	width:600px;
	font-size:0;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info .data {
	margin-bottom: 3px;
	display: inline-block;
	width:300px;
	font-size:12px;
}
html:lang(en-KR) .ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info .data {
	display: block;
	width:auto;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info .data.co-name {
	display: block;
	margin-bottom:10px;
	width:auto;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info .data.addr {
	display: block;
	width:auto;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .company-info #btnPopLicense {
	padding:2px 3px;
	display: inline;
	background:#eee;
	color:#222;
	border-radius: 3px;
	font-size:11px;	
	border:1px solid #ddd;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .copyright {
	color:#fff;	
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .right-links {
	position: absolute;
	top:0;
	right:0;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .right-links > a {
	padding-left:10px;
	margin-left:10px;	
	border-left:1px solid #777;	
	color:#fff;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .right-links > a:first-child {
	border:none;
}
.ikea-new-ui-body .ikea2017-footer .footer-bottom-box .right-links > a.privacy-policy {
	color:#F9D932;
	font-weight: bold;
}

/* 카테고리 전용 */
.ikea-new-ui-body .category-container .category-cover-container {
	background:#fff;
}
.ikea-new-ui-body .category-container .category-cover {
	text-align: center;
	padding:60px 0;	
	border-bottom: 1px solid #E0E3E9;
	background:#fff;
	background-repeat: no-repeat;
	background-position: center bottom;	
	box-sizing: border-box;	
	color:#2E2F33;
}
.ikea-new-ui-body .category-container .category-cover h1 {
	font-size:32px;
}


/* 로그인 */
.login-logo-line{
	clear: both;
	margin:0 auto;
    text-align: center;
    padding-bottom: 5px;
}
     
.login-logo{
	width: 170px;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 15px;
}
   
.login-form { 
	margin: 0 auto; 
	width: 260px;
	text-align: center;
	margin-top:30px;
} 
.login-id, .login-pw { 
	width: 260px; 
	height: 50px; 
	background-color: #fff;
	border: none; 
	border-bottom: 0.5px solid #000; 
	padding: 10px; 
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 13px; 
	color: #3a3a3a; 
} 
.login-send {
	width: 260px ;
	height: 50px; 
	background-color: rgb(0,94,157); 
	border-radius: 6px; 
	padding: 10px;
	padding-top: 12px;
	margin-top: 30px; 
	font-size: 15px;
	font-weight: bold; 
	color: #f9d932;
	transition: 0.5s ease;
}
#login-msg{
	font-size:13px;
	color:red;
}
.login-send:hover{
	background-color:#f9d932;
	color:#0051ba;
	transition: 0.5s ease;
	cursor: pointer;
}
.login-footer{
	margin:0 auto;
	padding-top:10px;
	text-aline:center;
	font-size: 13px;
	color: gray;   
}
     
.login-join:visited, .login-join:link{
	color: gray;
}
     
.login-id:hover, .login-pw:hover{
	cursor:pointer;
}
#login-cancel:hover, .login-join:hover {
	color: rgb(0,94,157);
	cursor: pointer;
}
.login-form input:focus { 
	border: 1px solid rgb(0,94,157); 
} 
.login-frame { 
	position: fixed;
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.5); 
	opacity: 0; 
	visibility: hidden; 
	transform: scale(1.1); 
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 10;
	} 
.login-content { 
	position: absolute; 
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%); 
	background-color: white; 
	opacity:0.95;
	padding: 1.3rem 1.2rem; 
	width: 450px; 
	height: 470px; 
	border-radius: 0.5rem; 
} 
#login-close-button { 
	float: right; 
	width: 1.4rem; 
	height: 1.4rem;
	text-align: center; 
	font-size:0.9rem;
	font-weight: bold;
	color:#f9d932;
	cursor: pointer; 
	border-radius: 0.25rem; 
	background-color: #0051ba; 
	overflow:hidden;
} 
#login-close-button:hover { 
	background-color:#f9d932;
	color:#0051ba;
} 
.show-login-content { 
	opacity: 1; 
	visibility: visible; 
	transform: scale(1.0); 
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

	